@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400&display=swap');

$fontRoboto: 'Roboto Mono', monospace;
$fontNoto: 'Noto Sans HK', sans-serif;
$blue: #55b9f3;
$blue2: #0091f7;
$white: #fff;
// $grey: #bdcfe5;
$grey: #f6f3ed;
$borderR: 50px;
$dark: black;
$Brb: 50px;
$bsGrey:  -30px -30px 60px #d1cfc9, 
30px 30px 60px #ffffff;
$bsBlue:  -30px -30px 60px #489dcf, 
30px 30px 60px #62d5ff;;
