$blue: #55b9f3;
$white: #fff;
// $grey: #bdcfe5;
$grey: #f6f3ed;
$borderR: 50px;
$Brb: 50px;
$bsGrey:  -30px -30px 60px #d1cfc9, 
30px 30px 60px #ffffff;
$bsBlue:  20px 20px 60px #489dcf, 
-20px -20px 60px #62d5ff;