@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body {
    overflow: hidden;
}

.sidebar, .wrapper {
    height: 100vh;
}

.sidebar {
    background-color: $blue;

      
}
.wrapper {
    background-color: $grey;
}
.greyBs {
    width: 300px !important;
    background-color: $grey;
    box-shadow: $bsGrey;
    border-radius: $borderR;
}